{% extends 'base.html' %}
{% load staticfiles %}

{% block linkscript %}
<link rel="stylesheet" type="text/css" href="{% static 'mine/css/order.css' %}"/>
<script src="{%static 'mine/js/order.js'%}" type="text/javascript" charset="utf-8"></script>
{% endblock %}

{% block base %}

<div id="allorder">
	<div id="toph">
		
	</div>
    <a href="/mine/" class="back">《返回</a>
	{% for order in orders %}
	<section  id="{{order.orderid}}" class="selectaddr">
			<ul>
				<li>
                    <div class="clear">
                        <p class="infoJustify">收货人:<span>{{order.consigneeName}}</span>
                        	{% if order.payment %}
	                        	{% if order.orderstatus == "待收货" %}
	                    		    <a id="{{order.id}}" class="rebake">退货</a>
	                    		{% endif %}
                            {% else %}
                            <a id="{{order.id}}" class="delorder">删除</a>
                            {% endif %}
                        </p>
                    </div>
                </li>
				<li>
                    <div class="clear">
                        <p class="infoJustify" >电话:<span>{{ order.consigneeTel }}</span></p>
                    </div>
                </li>
				<li>
                    <div class="clear">
                    	<p class="infoJustify">收货地址:<span>{{ order.consigneeAddr }}</span>
                    		{% if order.payment %}
                                {% if order.orderstatus == "待收货" %}
                    		        <a id="{{order.id}}get" class="iget">收货</a>
                                {% elif order.orderstatus == "退货" %}
                                    <p class="badorder">已退货</p>
                                {% else %}
                                    <p class="suorder">已收货</p>
                                {% endif %}
                            {% else %}
                            <a id="{{order.id}}buy" class="buy">付款</a>
                            {% endif %}
                    	</p>
                    </div>
               </li>
                <li>
                    <div class="clear">
                    	<p class="infoJustify">订单号:</br><span>{{ order.orderid }}</span></p>
                    </div>
                </li>
			</ul>
			<ul>
				<hr size="2px" noshade=false/>
				<li id="orderpro{{order.orderid}}" ></li>
            </ul>
	</section>
	{% endfor %}
	
</div>

{% endblock %}
